# Python
.venv/
__pycache__/
*.pyc

# Environment
.env

# Generated video data
data/videos/
data/frames/
data/metadata/

# Logs
logs/
*.log

# VS Code
.vscode/

# Build files
dist/
build/

# OS
Thumbs.db
.DS_Store